aws-cdk.core==1.62.0
aws-cdk.aws-cognito==1.62.0
aws-cdk.aws-lambda==1.62.0
aws-cdk.aws-secretsmanager==1.62.0
aws-cdk.aws-iot==1.62.0
aws-cdk.aws-elasticache==1.62.0
aws-cdk.aws-apigateway==1.62.0
aws-cdk.aws-cloudfront==1.62.0