.Login {
  margin-top: 30px;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.Login .alert {
  margin: 0 auto 30px;
  max-width: 800px;
  font-size: medium;
}

.Login .spinner-grow {
  margin-left: 5px;
  margin-right: 5px;
}

.Login .spinner-1 {
  vertical-align: middle !important;
  animation-duration: 0.99s;
  animation-delay: 0s;
}

.Login .spinner-2 {
  vertical-align: middle !important;
  animation-duration: 0.99s;
  animation-delay: 0.33s;
}

.Login .spinner-3 {
  vertical-align: middle !important;
  animation-duration: 0.99s;
  animation-delay: 0.66s;
}
